body {
	background: white;
	/*background: #89C0EF;*/
	text-align: center;
	font-family: "proxima nova", "helvetica neue", helvetica, arial, sans-serif;
	font-size: 13px;
	color: #333;
	padding: 20px;
}
h1 {
	font-size: 22px;
	font-weight: 600;
}
#wrapper {
	max-width: 400px;
	margin: 0 auto;
}
textarea {
	background: #fff;
	width: 90%;
	height: 20px;
	min-height: 80px;
	padding: 8px 10px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-top: 1px solid #bbb;
	font-family: "proxima nova", "helvetica neue", helvetica, arial, sans-serif;
	font-size: 16px;
	color: #555;
	line-height: 22px;
	word-wrap: break-word;
	white-space: pre-wrap;
	display: block;
	outline: none;
	resize: both;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
}
textarea:focus {
	border: 1px solid #89C0EF;
}
textarea::-webkit-input-placeholder {
	color: #bbb;
}
textarea:-moz-placeholder {
	color: #bbb;
}